#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
  border: red solid 5px;
}

.card-learner {
  padding: 2em;
  border: rgb(0, 255, 255) solid 5px;
}

.card-score {
  padding: 2em;
  border: rgb(47, 0, 255) solid 5px;
}
.card-bio {
  padding: 2em;
  border: rgb(255, 217, 0) solid 5px;
}